[submodule "third_party/contact_graspnet"]
	path = third_party/contact_graspnet
	url = https://github.com/jacintosuner/contact_graspnet.git
[submodule "third_party/UCL-AffCorrs"]
	path = third_party/UCL-AffCorrs
	url = https://github.com/jacintosuner/UCL-AffCorrs.git
[submodule "third_party/Grounded-SAM-2"]
	path = third_party/Grounded-SAM-2
	url = https://github.com/jacintosuner/Grounded-SAM-2.git
[submodule "third_party/anygrasp_sdk"]
	path = third_party/anygrasp_sdk
	url = https://github.com/jacintosuner/anygrasp_sdk.git
