[submodule "third_party/contact_graspnet"]
	path = third_party/contact_graspnet
	url = https://github.com/jacintosuner/contact_graspnet.git
[submodule "third_party/UCL-AffCorrs"]
	path = third_party/UCL-AffCorrs
	url = https://github.com/jacintosuner/UCL-AffCorrs.git
[submodule "third_party/Grounded-SAM-2"]
	path = third_party/Grounded-SAM-2
	url = https://github.com/jacintosuner/Grounded-SAM-2.git
[submodule "third_party/frankapy"]
	path = third_party/frankapy
	url = https://github.com/jacintosuner/frankapy
[submodule "third_party/rtc_vision_toolbox"]
	path = third_party/rtc_vision_toolbox
	url = https://github.com/jacintosuner/rtc_vision_toolbox.git
[submodule "third_party/WiLoR"]
	path = third_party/WiLoR
	url = https://github.com/jacintosuner/WiLoR
[submodule "third_party/hands23_detector"]
	path = third_party/hands23_detector
	url = https://github.com/jacintosuner/hands23_detector
[submodule "third_party/taxposeD"]
	path = third_party/taxposeD
	url = https://github.com/jacintosuner/taxposeD.git
[submodule "third_party/taxpose"]
	path = third_party/taxpose
	url = https://github.com/r-pad/taxpose.git
[submodule "third_party/video_to_taxposed"]
	path = third_party/video_to_taxposed
	url = https://github.com/jacintosuner/video_to_taxposed.git
